name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          ccache \
          git \
          zip \
          unzip \
          openjdk-17-jdk \
          libncurses6 \
          libncurses-dev \
          libstdc++6 \
          zlib1g \
          libffi-dev \
          libssl-dev

    - name: Install Buildozer & Cython
      run: |
        python -m pip install --upgrade pip
        pip install cython buildozer
        - name: Accept Android SDK licenses
      run: |
      yes | sdkmanager --licenses || true

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: szamos-sakk-apk
        path: bin/*.apk
